<footer class="footer">
	<ul class="quick-links">
		<li>
			<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=CSSSR&amp;repo=code-guide&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
		</li>
		<li>
			<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=CSSSR&amp;repo=code-guide&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
		</li>
	</ul>
</footer>
