/*
 * Заголовок раздела для компонента
 */

.element { ... }


/*
 * Заголовок раздела для компонента
 *
 * Иногда возникает необходимость включения дополнительного контекста для всего компонента. Сделайте это в этом месте, если это достаточно важно.
 */

.element { ... }

/* Контекстный под-компонент или модификатор */
.element-heading { ... }
