/* Плохой пример */
span { /* ... */ }
.page-container #stream .stream-item .tweet .tweet-header .username { /* ... */ }
.avatar { /* ... */ }

/* Хороший пример */
.avatar {
	/* ... */
}

.tweet-header .username {
	/* ... */
}

.tweet .avatar {
	/* ... */
}
