/* Плохой пример */
.element {
	margin: 0 0 10px;
	background: red;
	background: url(../img/image.jpg);
	border-radius: 3px 3px 0 0;
}

/* Хороший пример */
.element {
	margin-bottom: 10px;
	background-color: red;
	background-image: url(../img/image.jpg);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
