/* Одиночные объявления в одну строчку */
.span1 { width: 60px; }
.span2 { width: 140px; }
.span3 { width: 220px; }

/* Несколько объявлений, по одному на каждую строчку */
.sprite {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/sprite.png);
}

.icon         { background-position: 0 0; }
.icon-home    { background-position: 0 -20px; }
.icon-account { background-position: 0 -40px; }
