// Плохо
.btn { /* ... */ }
.btn-default { /* ... */ }
.btn-success { /* ... */ }
.btn-warning { /* ... */ }

// Хорошо
.btn
	/* ... */

	&-default
		/* ... */

	&-success
		/* ... */

	&-warning
		/* ... */
